@font-face {
    font-family:"MyUnderwood";
    src: url("/resources/fonts/MyUnderwood.ttf") /* EOT file for IE */
}

a{
	cursor:pointer;
}

body{
	font-size:12pt;
	padding-top: 50px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.dialog
{
	position:fixed;
	
	left:10px;
	right:10px;
	max-width:500px;
	top:10px;
	bottom:10px;
	max-height:500px;
	
	
	background-color:#fff;
	
	z-index:10001;
	margin:auto;
	
}

.dialog-actions
{
	background-color:#fff;
	border-top-width:1px;
	border-top-style:solid;
	
	text-align:right;
}

.dialog-content
{
	overflow-y:auto;
	overflow-x:hidden;
	
	height:100%;
	width:100%;
	
	padding:30px;
}

.dialog-form
{
}

.exception-present
{
	color:#F00;
}

.fade-screen
{
	position:fixed;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	
	z-index:10000;
	
	background-color:#444;
	opacity:0.5;
}

.group-details .actions
{
	text-align:right;
}

.group-details textarea
{
	height:95px;
}

.group-details .spacer
{
	margin-top:10px;
}

.group-options
{
	width:250px;
}

.group-options a
{
	margin:10px;
	cursor:pointer;
}

.heading-title
{
	font-size:12pt;
	font-weight:bold;
	color:#666;
}

.highlight-text
{
	font-size:16pt;
}

.line-item
{
	border-bottom-style:solid;
	border-bottom-width:1px;
	
	font-size:18px;
}

.log-alert-details
{
	background-color:#EEE;
	
	padding:5px;
}

.log-filter-option
{
	color:#000;
	display:inline-block;
	border-style:solid;
	border-width:2px;
	border-color:#DDD;
	width:85px;
	padding:5px;
	margin:3px;
	
	text-align:center;
}

.log-filter-option-selected
{
	background-color:#3F99E2;
	color:#FFF;
}

.log-filter-option-selected:hover
{
	background-color:#3F99E2;
	color:#FFF;
}

.log-filter-row
{
	background-color:#EEE;
}

.lvl-error
{
	border-left-style:solid;
	border-left-color:#F00;
	border-left-width:3px;
}

.lvl-warn
{
	border-left-style:solid;
	border-left-color:#DBD272;
	border-left-width:3px;
}

.memberList
{
	border-style:solid;
	border-width:1px;
	height:100px;

	margin-top:10px;

	overflow-y:scroll;
	overflow-x:hidden;
	white-space:nowrap;
}

.memberList-large
{
	height:180px;
	overflow-y:hidden
}

.memberList .row
{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f6f8+0,d8e1e7+50,b5c6d0+51,e0eff9+100;Grey+Gloss+%232 */
	background-color:#fff;
	border-bottom-style:solid;
	border-bottom-width:2px;
	border-bottom-color:#ccc;
	padding:5px;
}

.menu-logo {
    float: left;
    margin-right: 10px;
}

.message-summary
{
	font-size:12pt;
	max-height:23px;
	overflow:hidden;
}

.more-button
{
	color:blue;
	cursor:pointer;
}

.navbar
{
	font-family:MyUnderwood;
}

.nav-warning
{
	padding:10px;
}

.place-at-bottom
{
	position:absolute;
	bottom:0px;
	left:0px;
	padding:5px;
	width:100%;
}

.place-at-bottom a
{
	margin-left:5px;
}

.remove-x
{
	text-align:right;
	padding-right:4px;
	margin-top:2px;
}

.selectable
{
	display:inline-block;
	
	padding-left:7px;
	padding-right:7px;
	padding-top:2px;
	padding-bottom:2px;
	
	border-style:solid;
	border-width:1.5px;
	border-color:#888;
	border-radius:5px;
}

.selectable a
{
	color:#222;
	font-size:13pt;
}

.selected
{
	background-color:#84C2F4;
	color:#fff;
}

.selected a
{
	color:#FFF;
	font-size:13pt;
}

.spacer-above
{
	padding-top:20px;
}

.success-icon
{
	color:#3c763d;
	margin-left:3px;
}

.welcomeArea
{
	min-height:300px;
}
